<div class="buttonCard">
    <mat-card-title>
        <button mat-raised-button color="accent" (click)="navigateToLink()">Create Project</button>
        <button mat-raised-button color="accent">Edit Project</button>
        <button mat-raised-button color="accent">Create Team</button>
        <button mat-raised-button color="accent">Edit Team</button>
        <button mat-raised-button color="accent">Create Module</button>
        <button mat-raised-button color="accent">Edit Module</button>
        <button mat-raised-button color="accent">Create Task</button>
        <button mat-raised-button color="accent">Edit Task</button>
    </mat-card-title>
</div>
